# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Auto Create Files'
      'submenu': [
        {
            'label': 'Create .gitignore'
            'command': 'auto-create-files:gitignore'
        }
        {
            'label': 'Create LICENSE'
            'command': 'auto-create-files:license'
        }
      ]
    ]
  }
]
